<div class="">
	<div class="container">
		<div class="page-header">
			<h1 class="title">Editar Ingrediente</h1>
		</div>
		<div class="texto-exibir">

			<%= render 'form', ingrediente: @ingrediente %>
		</div>
		<div class="btn-container col-xs-12">
			<%= link_to 'Visualizar', @ingrediente, :class => "btn btn-primary" %>
			<%= link_to 'Voltar', ingredientes_path, :class => "btn btn-default" %>
		</div>
	</div>
</div>